<body>

<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
    <%= submit_tag "Search", :title => nil %>
<% end %>

  <div class="index-header">
  <main>
    <% @movies.each do |movie| %>
      <div class="container-fluid">
        <div class="row">
          <div class="col"></div>
          <div class="col-12 col-lg-6">
            <div class="card"">
              <div class="card-header">
                <h3 class="card-title heading-tertiary"><%= link_to movie.title, movie_path(movie) %></h3>
              </div>
              <div class="card-body">
                <hr />
                <div class="row">
                  <div class="col-12 col-sm-6 text-center">
                    <div><%= image_tag movie.poster %></div>
                  </div>
                  <div class="col-12 col-sm-6 float-left">
                    <h4 class="heading-quaternary">Synopsis </br></h4>
                    <p class="synopsis"><%= movie.summary %></p>

                    <h4 class="heading-quaternary">Average Score</br></h4>

                    <div id="averages">
                      <span class="purple" data-avg-rating>
                        <% if movie.reviews %>
                          <%= movie.avg_rating %>
                        <% end %>
                      </span>
                    </div>
                    <div class="float-left">
                      <%= link_to movie_path(movie) do %>
                        <button type="button" class="btn btn-lg btn-primary float-left">
                          Go to movie
                        </button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    <% end %>
  </main>
</body>

<footer>
  <div>
    <div class="row">
      <div class="paginate col-10 offset-1"">
        <%= paginate @movies %>
      </div>
      <br /><br />
      <div class="col-10 offset-1">
        Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
</footer>