<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-lg-6">
      <div class="card"">
        <div class="card-header">
          <h3 class="card-title heading-tertiary"><%= link_to @movie.title, movie_path(@movie) %></h3>
        </div>
        <div class="card-body">
          <hr />
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <div><%= image_tag @movie.poster %></div>
            </div>
            <div class="col-12 col-sm-6 float-left">
              <h4 class="heading-quaternary">Synopsis </br></h4>
              <p class="synopsis"><%= @movie.summary %></p>

              <h4 class="heading-quaternary">Average Score</br></h4>

              <div id="rating">
                <span data-rating="1" class="grey">1</span>
                <span data-rating="2" class="grey">2</span>
                <span data-rating="3" class="grey">3</span>
                <span data-rating="4" class="grey">4</span>
                <span data-rating="5" class="grey">5</span>
              </div>
              <div class="float-left">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-lg btn-primary float-left" data-toggle="modal" data-target="#reviewButton">
                  Add review
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

    <!-- Modal -->
  <div class="modal fade" id="reviewButton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a poster</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <%= simple_form_for @review, url: movie_reviews_path(@movie) do |f| %>
        <div class="modal-body">
          <%= f.input :comment %>
          <%= f.input :rating %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add review", class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="photoButton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a poster</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <%= simple_form_for @movie do |f| %>
        <div class="modal-body">
          <%= f.input :poster %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add a poster", class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#photoButton">
      Add a photo
    </button>


  <div class="float-right">
    <% if current_user && @movie.user == current_user %>
      <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-primary' %>
    <% end %>
    <% if current_user && (@movie.user == current_user || current_user.admin == true) %>
      <%= link_to 'Destroy', movie_path(@movie), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    <% end %>
    <% if @movie.user.admin %>
      <button class="btn btn-default">Edit review</button>
    <% end %>
  </div>
</div>