<!DOCTYPE html>
<html>
  <head>
    <title>moo.v db</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="nav">
    <% if user_signed_in? %>
      <ul id="nav">
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
        <li><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
        <li><%= link_to 'Sign Up!', new_user_registration_path, class: 'nav-link' %></li>
      </ul>
    <% end %>
  </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
