<!DOCTYPE html>
<html>
  <head>
    <title>moo.v db</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">

              <div class="logo-box">
                <%= link_to root_path do %>
                  <%= inline_svg('cow.svg', class: 'logo') %>
                <% end %>
              </div>
          </div>
          <div class="col">&nbsp;</div>
          <div class="col-sm-4"
            <nav class="nav">
              <div class="card"">
                <div class="card-header">
                  <h3 class="card-title heading-tertiary">welcome to moo.v db</h3>
                </div>
                <div class="card-body">
                    <ul id="nav">
                  <% if user_signed_in? %>
                      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
                  <% else %>
                      <li><%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %></li>
                      <li><%= link_to 'Sign Up!', new_user_registration_path, class: 'nav-link' %></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
